html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1rem;
    font-weight: 400;
}

.navbar {
    align-items: center;
}

#side_nav .navbar-nav .nav-item .nav-link {
    font-weight: bold;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
  }
  
  #side_nav .navbar-toggler:focus {
    outline-color: #00B7CB;
  }
  
    #side_nav {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh;
    }
    #side_nav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    }
    #side_nav .navbar-brand .img-profile {
      max-width: 10rem;
      max-height: 10rem;
      border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }
    #side_nav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
    }
    #side_nav .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
    #side_nav .navbar-collapse .navbar-nav .nav-item {
      display: block;
    }
    #side_nav .navbar-collapse .navbar-nav .nav-item .nav-link {
      display: block;
    }


/*
.menu {
    width: 20%;
    height: 100%;
    text-align: center;
    background-color: #343a40;
}

.sections {
    margin-top: 50%;
    margin-bottom: 50%;
    list-style-type: none;
    text-transform: uppercase;
    line-height: 250%;
}

.section_item {
    letter-spacing: 0.05rem;
}

.attribute {
    color: white;
}

.attribute:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.profilebutton {
    background-color: transparent;
    border-radius: 50%;
    border: none;
}

.profilephoto {
    background-color: transparent;
    border-radius: 50%;
}
*/